/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.centering {
  margin: auto auto;
}
article {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 10px auto;
  align-items: center;
  position: relative;
}
.section-1 {
  flex-basis: 60%;
  padding-left: 20px;
}
h1 {
  font-weight: bold;
  font-size: 74px;
  color: rgba(0, 0, 255, 0.726);
  text-shadow: 5px 5px 2px grey;
}
.connect {
  font-size: 30px;
}
.details--col {
  flex-grow: 1;
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  flex-shrink: 1;
}
.inputs {
  height: 15%;
  font-size: 14pt;
  outline: none;
  padding: 20px 0 20px 10px;
  color: black;
  border: lightgray 1px solid;
  border-radius: 5px;
  display: inline-block;
  align-self: stretch;
  margin: 10px;
}
.login {
  width: 410px;
  height: 40px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: rgba(46, 46, 190, 0.863);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.login:hover {
  background-color: rgba(46, 46, 190, 0.699);
}
.details--col a {
  color: rgba(0, 0, 255, 0.726);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}
.details--col a:hover,
.details--col a:active {
  color: rgba(46, 46, 190, 0.699);
}
.create-btn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: rgba(12, 184, 12, 0.774);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.create-btn:hover {
  background-color: rgba(12, 184, 12, 0.555);
}
.details--col:link {
  cursor: pointer;
}
.small-border-line {
  background-color: rgba(211, 211, 211, 0.589);
  height: 1px;
  width: 420px;
}
.aside {
  position: absolute;
  bottom: 7%;
  right: 8%;
}
